# Ambiente virtual
venv/

# Cache do Python
__pycache__/
*.pyc
*.pyo

# Banco de dados
db/*.db

# Variáveis de ambiente
.env

# IDEs
.vscode/
.idea/

# Dados locais (criado automaticamente)
dados/dados.txt